<nz-affix [nzOffsetTop]="0">
  <nz-header class="!bg-paytomic-dark px-8">
    <div class="flex items-center justify-between h-full">
      <div class="flex items-center">
        <a routerLink="/" class="flex items-center no-underline hover:opacity-90 transition-opacity">
          <img src="assets/images/with_padding.png" alt="Paytomic" class="h-20">
        </a>
      </div>
      
      <ul nz-menu 
          nzMode="horizontal" 
          nzTheme="dark"
          class="!bg-transparent !border-0 flex-1 justify-end">
        <li nz-menu-item routerLinkActive="ant-menu-item-selected" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/om-os">Om os</a>
        </li>
        <li nz-menu-item routerLinkActive="ant-menu-item-selected" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/hvordan-virker-det">Hvordan virker det?</a>
        </li>
        <!-- <li nz-menu-item routerLinkActive="ant-menu-item-selected" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/pricing">Priser</a>
        </li> -->
        <li nz-menu-item routerLinkActive="ant-menu-item-selected" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/kontakt">Kontakt</a>
        </li>
      </ul>
    </div>
  </nz-header>
</nz-affix>
