<nz-affix [nzOffsetTop]="0">
  <nz-header class="bg-paytomic-dark px-8 flex items-center justify-between">
    <div class="flex items-center">
      <a routerLink="/" class="text-paytomic-cream text-2xl font-bold no-underline hover:text-paytomic-cream">
        Paytomic
      </a>
    </div>
    
    <ul nz-menu 
        nzMode="horizontal" 
        nzTheme="dark"
        class="bg-paytomic-dark border-0 flex-1 justify-end">
      <li nz-menu-item>
        <a routerLink="/about" class="text-paytomic-cream hover:text-paytomic-cream">Om</a>
      </li>
      <li nz-menu-item>
        <a routerLink="/how-it-works" class="text-paytomic-cream hover:text-paytomic-cream">Hvordan virker det?</a>
      </li>
      <li nz-menu-item>
        <a routerLink="/pricing" class="text-paytomic-cream hover:text-paytomic-cream">Priser</a>
      </li>
      <li nz-menu-item>
        <a routerLink="/contact" class="text-paytomic-cream hover:text-paytomic-cream">Kontakt</a>
      </li>
    </ul>
  </nz-header>
</nz-affix>
