**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea
**/bin
**/obj
**/*.user
**/*.suo
**/publish
**/logs
**/.DS_Store
**/README*.md
**/SECURITY*.md
**/PRODUCTION*.md
**/RASPBERRY*.md
**/SMTP*.md
**/*.DotSettings.user

